/**
 * Base Styles - Fundamental global styles
 * 
 * Contains the most basic styles that affect all widgets
 */

* {
  background-clip: padding-box;
  -gtktoolbutton-icon-spacing: 4;
  -gtktextview-error-underline-color: #fc4138;
  -gtkscrolledwindow-scrollbar-spacing: 0;
  -gtktoolitemgroup-expander-size: 11;
  -gtkwidget-text-handle-width: 20;
  -gtkwidget-text-handle-height: 20;
  -gtkdialog-button-spacing: 4;
  -gtkdialog-action-area-border: 6;
  outline-color: rgba(255, 255, 255, 0.17);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: 2px;
}

.background {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(46, 46, 51, 0.999);
}

*:disabled {
  -gtk-icon-effect: dim;
}

.gtkstyle-fallback {
  background-color: #2e2e33;
  color: rgba(255, 255, 255, 0.87);
}
.gtkstyle-fallback:hover {
  background-color: #46464e;
  color: rgba(255, 255, 255, 0.87);
}
.gtkstyle-fallback:active {
  background-color: #161619;
  color: rgba(255, 255, 255, 0.87);
}
.gtkstyle-fallback:disabled {
  background-color: #333339;
  color: rgba(255, 255, 255, 0.42);
}
.gtkstyle-fallback:selected {
  background-color: #0c75de;
  color: #ffffff;
}

separator {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 1px;
  min-height: 1px;
}

.monospace {
  font-family: Monospace;
}

.keycap {
  min-width: 16px;
  min-height: 20px;
  padding: 3px 6px 4px 6px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2e2e33;
  border: 1px solid #202023;
  border-radius: 8px;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

*:drop(active):focus,
*:drop(active) {
  box-shadow: inset 0 0 0 1px #0c75de;
}
