/**
 * Dialogs and Message Boxes
 */

.dialog-action-area .button.text-button {
  padding: 6px 16px;
}

.message-dialog .dialog-action-area .button {
  padding: 8px;
}

.message-dialog {
  -gtkdialog-button-spacing: 0;
}
.message-dialog .titlebar {
  background-color: #222226;
  border-bottom: 1px solid #111113;
}
.message-dialog.csd.background {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
}
.message-dialog.csd .dialog-action-area .button {
  padding: 8px;
  border-radius: 0;
}
.message-dialog.csd .dialog-action-area .button,
.message-dialog.csd .dialog-action-area .button:hover,
.message-dialog.csd .dialog-action-area .button:active,
.message-dialog.csd .dialog-action-area .button:disabled {
  border-right-style: none;
  border-bottom-style: none;
}
.message-dialog.csd .dialog-action-area .button:last-child {
  border-bottom-right-radius: 3px;
}
.message-dialog.csd .dialog-action-area .button:first-child {
  border-left-style: none;
  border-bottom-left-radius: 3px;
}

filechooser #pathbarbox {
  background-color: #222226;
  border-bottom: 1px solid #202023;
}

filechooser .search-bar {
  background-color: #222226;
}

filechooser actionbar {
  background-color: #2e2e33;
}

filechooserbutton:drop(active) {
  box-shadow: none;
  border-color: transparent;
}
