/**
 * Entry Widgets - Text input fields
 */

entry {
  border: 1px solid;
  padding: 5px 8px;
  caret-color: currentColor;
  border-radius: 10px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #dadada;
  border-color: #202023;
  background-color: #2e2e33;
}
entry.search {
  border-radius: 12px;
}
entry image {
  color: rgba(204, 204, 205, 0.896);
}
entry image.left {
  padding-left: 0;
  padding-right: 5px;
}
entry image.right {
  padding-right: 0;
  padding-left: 5px;
}
entry.flat,
entry.flat:focus {
  padding: 2px;
  color: #dadada;
  border-color: #202023;
  background-color: #2e2e33;
  border: none;
  border-radius: 0;
}
entry:focus {
  background-clip: border-box;
  color: #dadada;
  border-color: #202023;
  background-color: #2e2e33;
  box-shadow: inset 1px 0 #0c75de, inset -1px 0 #0c75de, inset 0 1px #0c75de,
    inset 0 -1px #0c75de;
}
entry:disabled {
  color: rgba(255, 255, 255, 0.42);
  border-color: rgba(32, 32, 35, 0.55);
  background-color: rgba(46, 46, 51, 0.55);
}
entry.warning {
  color: WHITE;
  border-color: #202023;
  background-color: #a45a34;
}
entry.warning image {
  color: WHITE;
}
entry.warning:focus {
  color: WHITE;
  background-color: #f27835;
  box-shadow: none;
}
entry.warning selection,
entry.warning selection:focus {
  background-color: WHITE;
  color: #f27835;
}
entry.error {
  color: WHITE;
  border-color: #202023;
  background-color: #aa3936;
}
entry.error image {
  color: WHITE;
}
entry.error:focus {
  color: WHITE;
  background-color: #fc4138;
  box-shadow: none;
}
entry.error selection,
entry.error selection:focus {
  background-color: WHITE;
  color: #fc4138;
}
entry.search-missing {
  color: WHITE;
  border-color: #202023;
  background-color: #aa3936;
}
entry.search-missing image {
  color: WHITE;
}
entry.search-missing:focus {
  color: WHITE;
  background-color: #fc4138;
  box-shadow: none;
}
entry.search-missing selection,
entry.search-missing selection:focus {
  background-color: WHITE;
  color: #fc4138;
}
entry:drop(active):focus,
entry:drop(active) {
  border-color: #0c75de;
  box-shadow: none;
}
.osd entry {
  color: #dbdbdb;
  border-color: rgba(22, 22, 22, 0.4);
  background-color: rgba(109, 109, 109, 0.4);
}
.osd entry image,
.osd entry image:hover {
  color: inherit;
}
.osd entry:focus {
  color: #ffffff;
  border-color: rgba(22, 22, 22, 0.4);
  background-color: #0c75de;
}
.osd entry:disabled {
  color: rgba(219, 219, 219, 0.55);
  background-color: rgba(109, 109, 109, 0.25);
}
.osd entry selection:focus,
.osd entry selection {
  color: #0c75de;
  background-color: #ffffff;
}
entry progress {
  margin: 0 -6px;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: #0c75de;
  border-style: solid;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

treeview entry.flat,
treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: #2e2e33;
}
treeview entry.flat:focus,
treeview entry:focus {
  border-color: #0c75de;
}

@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(
      radial,
      center center,
      0,
      center center,
      0.01,
      to(#0c75de),
      to(transparent)
    );
  }
  to {
    background-image: -gtk-gradient(
      radial,
      center center,
      0,
      center center,
      0.5,
      to(#0c75de),
      to(transparent)
    );
  }
}
