/**
 * Frames and Scrolled Windows
 */

.frame {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #202023;
}

frame.flat > border,
frame > border.flat,
.frame.flat {
  border-style: none;
}

scrolledwindow viewport.frame {
  border-style: none;
}

scrolledwindow overshoot.top {
  background-image: -gtk-gradient(
    radial,
    center top,
    0,
    center top,
    0.6,
    from(rgba(12, 117, 222, 0.2)),
    to(rgba(12, 117, 222, 0))
  );
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

scrolledwindow overshoot.bottom {
  background-image: -gtk-gradient(
    radial,
    center bottom,
    0,
    center bottom,
    0.6,
    from(rgba(12, 117, 222, 0.2)),
    to(rgba(12, 117, 222, 0))
  );
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

scrolledwindow overshoot.left {
  background-image: -gtk-gradient(
    radial,
    left center,
    0,
    left center,
    0.6,
    from(rgba(12, 117, 222, 0.2)),
    to(rgba(12, 117, 222, 0))
  );
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

scrolledwindow overshoot.right {
  background-image: -gtk-gradient(
    radial,
    right center,
    0,
    right center,
    0.6,
    from(rgba(12, 117, 222, 0.2)),
    to(rgba(12, 117, 222, 0))
  );
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

scrolledwindow undershoot.top {
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  padding-top: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center top;
}

scrolledwindow undershoot.bottom {
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  padding-bottom: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center bottom;
}

scrolledwindow undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  padding-left: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left center;
}

scrolledwindow undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  padding-right: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right center;
}

scrolledwindow junction {
  border-color: transparent;
  border-image: linear-gradient(to bottom, #202023 1px, transparent 1px) 0 0 0 1/0
    1px stretch;
  background-color: #2c2c30;
}
scrolledwindow junction:dir(rtl) {
  border-image-slice: 0 1 0 0;
}
