/**
 * Header Bar and Title Bar
 */

headerbar,
.titlebar:not(headerbar) {
  min-height: 46px;
  padding: 0 6px;
  border-width: 0 0 1px;
  border-style: solid;
  border-radius: 0;
  border-color: #18181b;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222226;
  box-shadow: inset 0 1px #373737;
}
.csd headerbar,
.csd .titlebar:not(headerbar) {
  background-color: #222226;
  border-color: #18181b;
}
headerbar:backdrop,
.titlebar:backdrop:not(headerbar) {
  color: rgba(255, 255, 255, 0.47);
}
headerbar .title,
.titlebar:not(headerbar) .title {
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}
headerbar .subtitle,
.titlebar:not(headerbar) .subtitle {
  font-size: smaller;
  padding-left: 12px;
  padding-right: 12px;
}
headerbar.selection-mode,
.selection-mode.titlebar:not(headerbar) {
  color: #ffffff;
  background-color: #0c75de;
  border-color: #0b6bcb;
  box-shadow: none;
}
headerbar.selection-mode:backdrop,
.selection-mode.titlebar:backdrop:not(headerbar) {
  background-color: #0c75de;
  color: rgba(255, 255, 255, 0.6);
}
headerbar.selection-mode button,
.selection-mode.titlebar:not(headerbar) button {
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
headerbar.selection-mode button.flat,
.selection-mode.titlebar:not(headerbar) button.flat {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
headerbar.selection-mode button:hover,
.selection-mode.titlebar:not(headerbar) button:hover {
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.5);
}
headerbar.selection-mode button:active,
headerbar.selection-mode button:checked,
.selection-mode.titlebar:not(headerbar) button:active,
.selection-mode.titlebar:not(headerbar) button:checked {
  color: #0c75de;
  outline-color: rgba(12, 117, 222, 0.3);
  background-color: #ffffff;
  border-color: #ffffff;
}
headerbar.selection-mode button:disabled,
.selection-mode.titlebar:not(headerbar) button:disabled {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
headerbar.selection-mode button:disabled:active,
headerbar.selection-mode button:disabled:checked,
.selection-mode.titlebar:not(headerbar) button:disabled:active,
.selection-mode.titlebar:not(headerbar) button:disabled:checked {
  color: rgba(12, 117, 222, 0.4);
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
}
headerbar.selection-mode .selection-menu,
.selection-mode.titlebar:not(headerbar) .selection-menu {
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
}
headerbar.selection-mode .selection-menu GtkArrow,
.selection-mode.titlebar:not(headerbar) .selection-menu GtkArrow {
  -gtkarrow-arrow-scaling: 1;
}
headerbar.selection-mode .selection-menu .arrow,
.selection-mode.titlebar:not(headerbar) .selection-menu .arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
.maximized headerbar.selection-mode,
.maximized .selection-mode.titlebar:not(headerbar) {
  background-color: #0c75de;
}
.tiled headerbar:backdrop,
.tiled headerbar,
.tiled-top headerbar:backdrop,
.tiled-top headerbar,
.tiled-right headerbar:backdrop,
.tiled-right headerbar,
.tiled-bottom headerbar:backdrop,
.tiled-bottom headerbar,
.tiled-left headerbar:backdrop,
.tiled-left headerbar,
.maximized headerbar:backdrop,
.maximized headerbar,
.fullscreen headerbar:backdrop,
.fullscreen headerbar,
.tiled .titlebar:not(headerbar),
.tiled-top .titlebar:not(headerbar),
.tiled-right .titlebar:not(headerbar),
.tiled-bottom .titlebar:not(headerbar),
.tiled-left .titlebar:not(headerbar),
.maximized .titlebar:not(headerbar),
.fullscreen .titlebar:not(headerbar) {
  border-radius: 0;
}
headerbar.default-decoration,
.default-decoration.titlebar:not(headerbar) {
  min-height: 28px;
  padding: 2px 6px;
  border-bottom-width: 0;
}
.maximized headerbar.default-decoration,
.maximized .default-decoration.titlebar:not(headerbar) {
  background-color: #222226;
}
.solid-csd headerbar:backdrop:dir(rtl),
.solid-csd headerbar:backdrop:dir(ltr),
.solid-csd headerbar:dir(rtl),
.solid-csd headerbar:dir(ltr),
.solid-csd .titlebar:dir(rtl):not(headerbar),
.solid-csd .titlebar:dir(ltr):not(headerbar) {
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  border-radius: 0;
  box-shadow: none;
}

.background .titlebar:backdrop,
.background .titlebar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.background.tiled .titlebar:backdrop,
.background.tiled .titlebar,
.background.tiled-top .titlebar:backdrop,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar:backdrop,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar:backdrop,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar:backdrop,
.background.tiled-left .titlebar,
.background.maximized .titlebar:backdrop,
.background.maximized .titlebar,
.background.solid-csd .titlebar:backdrop,
.background.solid-csd .titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

headerbar entry,
headerbar button,
headerbar separator {
  margin-top: 6px;
  margin-bottom: 6px;
}

separator:first-child + headerbar,
separator:first-child + headerbar:backdrop,
headerbar:first-child,
headerbar:first-child:backdrop {
  border-top-left-radius: 8px;
}
.maximized separator:first-child + headerbar,
.tiled separator:first-child + headerbar,
.maximized separator:first-child + headerbar:backdrop,
.tiled separator:first-child + headerbar:backdrop,
.maximized headerbar:first-child,
.tiled headerbar:first-child,
.maximized headerbar:first-child:backdrop,
.tiled headerbar:first-child:backdrop {
  border-radius: 0;
}

headerbar:last-child,
headerbar:last-child:backdrop {
  border-top-right-radius: 8px;
}
.maximized headerbar:last-child,
.tiled headerbar:last-child,
.maximized headerbar:last-child:backdrop,
.tiled headerbar:last-child:backdrop {
  border-radius: 0;
}

window > .titlebar:not(headerbar),
window > .titlebar:not(headerbar):backdrop,
window.csd > .titlebar:not(headerbar),
window.csd > .titlebar:not(headerbar):backdrop {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.titlebar:not(headerbar) > separator {
  background-image: linear-gradient(to bottom, #18181b, #18181b);
}

.primary-toolbar toolbar separator,
.primary-toolbar:not(.libreoffice-toolbar) separator,
.primary-toolbar .inline-toolbar separator {
  min-width: 1px;
  min-height: 1px;
  border-width: 0 1px;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.22) 25%,
      rgba(255, 255, 255, 0.22) 75%,
      rgba(255, 255, 255, 0) 75%
    )
    0 1/0 1px stretch;
}
.primary-toolbar toolbar separator:backdrop,
.primary-toolbar:not(.libreoffice-toolbar) separator:backdrop,
.primary-toolbar .inline-toolbar separator:backdrop {
  opacity: 0.6;
}

.primary-toolbar entry,
headerbar entry {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
}

.primary-toolbar entry image,
headerbar entry image {
  color: inherit;
}

.primary-toolbar entry:backdrop,
headerbar entry:backdrop {
  opacity: 0.85;
}

.primary-toolbar entry:focus,
headerbar entry:focus {
  color: rgba(255, 255, 255, 0.87);
  border-color: #0c75de;
  background-color: rgba(87, 87, 97, 0.4);
  background-clip: padding-box;
}

.primary-toolbar entry:focus image,
headerbar entry:focus image {
  color: rgba(255, 255, 255, 0.72);
}

.primary-toolbar entry:disabled,
headerbar entry:disabled {
  color: rgba(255, 255, 255, 0.42);
  background-color: rgba(87, 87, 97, 0.25);
}

.primary-toolbar entry selection:focus,
headerbar entry selection:focus {
  background-color: #0c75de;
  color: #ffffff;
}

.primary-toolbar entry progress,
headerbar entry progress {
  border-color: #0c75de;
  background-image: none;
  background-color: transparent;
}

.primary-toolbar entry.warning,
headerbar entry.warning {
  color: WHITE;
  border-color: rgba(5, 5, 6, 0.4);
  background-color: #9f562f;
}

.primary-toolbar entry.warning:focus,
headerbar entry.warning:focus {
  color: WHITE;
  background-color: #f27835;
}

.primary-toolbar entry.warning selection,
headerbar entry.warning selection {
  background-color: WHITE;
  color: #f27835;
}

.primary-toolbar entry.error,
headerbar entry.error {
  color: WHITE;
  border-color: rgba(5, 5, 6, 0.4);
  background-color: #a53531;
}

.primary-toolbar entry.error:focus,
headerbar entry.error:focus {
  color: WHITE;
  background-color: #fc4138;
}

.primary-toolbar entry.error selection,
headerbar entry.error selection {
  background-color: WHITE;
  color: #fc4138;
}

.primary-toolbar button,
headerbar button {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  outline-offset: -3px;
  background-color: rgba(34, 34, 38, 0);
  border-color: rgba(34, 34, 38, 0);
}

.primary-toolbar button:backdrop,
headerbar button:backdrop {
  opacity: 0.7;
}

.primary-toolbar button:hover,
headerbar button:hover {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
}

.primary-toolbar button:active,
headerbar button:active,
.primary-toolbar button:checked,
headerbar button:checked {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
}

.primary-toolbar button:disabled,
headerbar button:disabled {
  color: rgba(255, 255, 255, 0.42);
  background-color: rgba(34, 34, 38, 0);
  border-color: rgba(34, 34, 38, 0);
}

.primary-toolbar button:disabled label,
headerbar button:disabled label {
  color: inherit;
}

.primary-toolbar button:disabled:active,
headerbar button:disabled:active,
.primary-toolbar button:disabled:checked,
headerbar button:disabled:checked {
  color: rgba(255, 255, 255, 0.67);
  border-color: rgba(8, 8, 8, 0.85);
  background-color: rgba(0, 0, 0, 0.1);
}

.primary-toolbar toolbar.selection-mode button,
.selection-mode.primary-toolbar button,
.primary-toolbar .selection-mode.inline-toolbar button,
headerbar.selection-mode button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.primary-toolbar
  .linked:not(.vertical):not(.path-bar):not(.stack-switcher)
  button:not(:last-child):not(:only-child),
headerbar
  .linked:not(.vertical):not(.path-bar):not(.stack-switcher)
  button:not(:last-child):not(:only-child) {
  margin-right: 1px;
}

.primary-toolbar toolbar .linked:not(.vertical):not(.path-bar) > button,
.primary-toolbar .linked:not(.vertical):not(.path-bar) > button,
.primary-toolbar .inline-toolbar .linked:not(.vertical):not(.path-bar) > button,
headerbar .linked:not(.vertical):not(.path-bar) > button {
  border-radius: 10px;
  border-style: solid;
}

.primary-toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  )
  + button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ),
headerbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  )
  + button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ),
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):hover:not(:only-child),
.primary-toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):hover:not(:only-child),
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):hover:not(:only-child),
headerbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):hover:not(:only-child),
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):disabled:not(:only-child),
.primary-toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):disabled:not(:only-child),
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):disabled:not(:only-child),
headerbar
  .linked:not(.vertical):not(.path-bar)
  > button:not(:checked):not(:active):not(.suggested-action):not(
    .destructive-action
  ):disabled:not(:only-child) {
  box-shadow: none;
}

.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button,
.primary-toolbar .linked:not(.vertical):not(.path-bar).stack-switcher > button,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button,
headerbar .linked:not(.vertical):not(.path-bar).stack-switcher > button,
.primary-toolbar toolbar .linked:not(.vertical).path-bar > button,
.primary-toolbar .linked:not(.vertical).path-bar > button,
.primary-toolbar .inline-toolbar .linked:not(.vertical).path-bar > button,
headerbar .linked:not(.vertical).path-bar > button {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
}
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:hover,
.primary-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:hover,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:hover,
headerbar .linked:not(.vertical):not(.path-bar).stack-switcher > button:hover,
.primary-toolbar toolbar .linked:not(.vertical).path-bar > button:hover,
.primary-toolbar .linked:not(.vertical).path-bar > button:hover,
.primary-toolbar .inline-toolbar .linked:not(.vertical).path-bar > button:hover,
headerbar .linked:not(.vertical).path-bar > button:hover {
  background-color: rgba(123, 123, 137, 0.4);
}
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:active,
.primary-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:active,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:active,
headerbar .linked:not(.vertical):not(.path-bar).stack-switcher > button:active,
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:checked,
.primary-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:checked,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:checked,
headerbar .linked:not(.vertical):not(.path-bar).stack-switcher > button:checked,
.primary-toolbar toolbar .linked:not(.vertical).path-bar > button:active,
.primary-toolbar .linked:not(.vertical).path-bar > button:active,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical).path-bar
  > button:active,
headerbar .linked:not(.vertical).path-bar > button:active,
.primary-toolbar toolbar .linked:not(.vertical).path-bar > button:checked,
.primary-toolbar .linked:not(.vertical).path-bar > button:checked,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical).path-bar
  > button:checked,
headerbar .linked:not(.vertical).path-bar > button:checked {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(0, 0, 0, 0.15);
}
.primary-toolbar
  toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:disabled,
.primary-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:disabled,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:disabled,
headerbar
  .linked:not(.vertical):not(.path-bar).stack-switcher
  > button:disabled,
.primary-toolbar toolbar .linked:not(.vertical).path-bar > button:disabled,
.primary-toolbar .linked:not(.vertical).path-bar > button:disabled,
.primary-toolbar
  .inline-toolbar
  .linked:not(.vertical).path-bar
  > button:disabled,
headerbar .linked:not(.vertical).path-bar > button:disabled {
  color: rgba(255, 255, 255, 0.47);
}

.primary-toolbar .linked:not(.vertical) entry,
headerbar .linked:not(.vertical) entry {
  box-shadow: none;
}

.primary-toolbar .linked:not(.vertical) entry:focus,
headerbar .linked:not(.vertical) entry:focus {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
  background-clip: padding-box;
}

.primary-toolbar .linked:not(.vertical) entry:focus image,
headerbar .linked:not(.vertical) entry:focus image {
  color: inherit;
}

.primary-toolbar .linked:not(.vertical) entry + button:last-child,
headerbar .linked:not(.vertical) entry + button:last-child {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
}

.primary-toolbar .linked:not(.vertical) entry + button:last-child:hover,
headerbar .linked:not(.vertical) entry + button:last-child:hover {
  background-color: rgba(123, 123, 137, 0.4);
}

.primary-toolbar .linked:not(.vertical) entry + button:last-child:active,
headerbar .linked:not(.vertical) entry + button:last-child:active,
.primary-toolbar .linked:not(.vertical) entry + button:last-child:checked,
headerbar .linked:not(.vertical) entry + button:last-child:checked {
  color: rgba(255, 255, 255, 0.87);
  outline-color: rgba(255, 255, 255, 0.17);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(0, 0, 0, 0.15);
}

.primary-toolbar .linked:not(.vertical) entry + button:last-child:disabled,
headerbar .linked:not(.vertical) entry + button:last-child:disabled {
  color: rgba(255, 255, 255, 0.47);
  background-color: rgba(87, 87, 97, 0.2);
  border-color: rgba(5, 5, 6, 0.4);
}

.primary-toolbar
  .linked:not(.vertical)
  entry
  + button:last-child:disabled:checked,
headerbar .linked:not(.vertical) entry + button:last-child:disabled:checked {
  background-color: rgba(12, 117, 222, 0.65);
  color: rgba(255, 255, 255, 0.75);
}

.primary-toolbar button.suggested-action,
headerbar button.suggested-action {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #6db442;
  border-color: #6db442;
}

.primary-toolbar button.suggested-action.flat,
headerbar button.suggested-action.flat {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #6db442;
  outline-color: rgba(109, 180, 66, 0.3);
}

.primary-toolbar button.suggested-action:hover,
headerbar button.suggested-action:hover {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #88c663;
  border-color: #88c663;
}

.primary-toolbar button.suggested-action:active,
headerbar button.suggested-action:active,
.primary-toolbar button.suggested-action:checked,
headerbar button.suggested-action:checked {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #568f34;
  border-color: #568f34;
}

.primary-toolbar button.suggested-action:disabled,
headerbar button.suggested-action:disabled {
  color: rgba(255, 255, 255, 0.42);
  background-color: rgba(34, 34, 38, 0);
  border-color: rgba(34, 34, 38, 0);
}

.primary-toolbar button.suggested-action:disabled label,
headerbar button.suggested-action:disabled label {
  color: inherit;
}

.primary-toolbar button.suggested-action:backdrop,
headerbar button.suggested-action:backdrop {
  opacity: 0.8;
}

.primary-toolbar button.destructive-action,
headerbar button.destructive-action {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #f04a50;
  border-color: #f04a50;
}

.primary-toolbar button.destructive-action.flat,
headerbar button.destructive-action.flat {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #f04a50;
  outline-color: rgba(240, 74, 80, 0.3);
}

.primary-toolbar button.destructive-action:hover,
headerbar button.destructive-action:hover {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #f4797e;
  border-color: #f4797e;
}

.primary-toolbar button.destructive-action:active,
headerbar button.destructive-action:active,
.primary-toolbar button.destructive-action:checked,
headerbar button.destructive-action:checked {
  background-clip: border-box;
  color: #ffffff;
  outline-color: rgba(255, 255, 255, 0.3);
  background-color: #ec1b22;
  border-color: #ec1b22;
}

.primary-toolbar button.destructive-action:disabled,
headerbar button.destructive-action:disabled {
  color: rgba(255, 255, 255, 0.42);
  background-color: rgba(34, 34, 38, 0);
  border-color: rgba(34, 34, 38, 0);
}

.primary-toolbar button.destructive-action:disabled label,
headerbar button.destructive-action:disabled label {
  color: inherit;
}

.primary-toolbar button.destructive-action:backdrop,
headerbar button.destructive-action:backdrop {
  opacity: 0.8;
}

.primary-toolbar spinbutton:focus button,
headerbar spinbutton:focus button {
  color: #ffffff;
}

.primary-toolbar spinbutton:focus button:hover,
headerbar spinbutton:focus button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
}

.primary-toolbar spinbutton:focus button:disabled,
headerbar spinbutton:focus button:disabled {
  color: rgba(255, 255, 255, 0.4);
}

.primary-toolbar spinbutton button,
headerbar spinbutton button {
  color: rgba(255, 255, 255, 0.87);
}

.primary-toolbar spinbutton button:hover,
headerbar spinbutton button:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border-color: transparent;
}

.primary-toolbar spinbutton button:disabled,
headerbar spinbutton button:disabled {
  color: rgba(255, 255, 255, 0.57);
}

.primary-toolbar spinbutton button:active,
headerbar spinbutton button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.primary-toolbar combobox:disabled,
headerbar combobox:disabled {
  color: rgba(255, 255, 255, 0.27);
}

.primary-toolbar combobox > .linked > button.combo,
headerbar combobox > .linked > button.combo {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(5, 5, 6, 0.4);
  background-color: rgba(87, 87, 97, 0.4);
}

.primary-toolbar combobox > .linked > button.combo image,
headerbar combobox > .linked > button.combo image {
  color: inherit;
}

.primary-toolbar combobox > .linked > button.combo:hover,
headerbar combobox > .linked > button.combo:hover {
  color: rgba(255, 255, 255, 0.87);
  border-color: #0c75de;
  background-color: rgba(87, 87, 97, 0.4);
  box-shadow: none;
}

.primary-toolbar combobox > .linked > button.combo:disabled,
headerbar combobox > .linked > button.combo:disabled {
  color: rgba(255, 255, 255, 0.42);
  background-color: rgba(87, 87, 97, 0.25);
}

.primary-toolbar combobox > .linked > entry.combo:dir(ltr),
headerbar combobox > .linked > entry.combo:dir(ltr) {
  border-right-style: none;
}

.primary-toolbar combobox > .linked > entry.combo:dir(ltr):focus,
headerbar combobox > .linked > entry.combo:dir(ltr):focus {
  box-shadow: none;
}

.primary-toolbar combobox > .linked > entry.combo:dir(rtl),
headerbar combobox > .linked > entry.combo:dir(rtl) {
  border-left-style: none;
}

.primary-toolbar combobox > .linked > entry.combo:dir(rtl):focus,
headerbar combobox > .linked > entry.combo:dir(rtl):focus {
  box-shadow: none;
}

.primary-toolbar combobox > .linked > button.combo:dir(ltr),
headerbar combobox > .linked > button.combo:dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.primary-toolbar combobox > .linked > button.combo:dir(rtl),
headerbar combobox > .linked > button.combo:dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.primary-toolbar switch:backdrop,
headerbar switch:backdrop {
  opacity: 0.75;
}

.primary-toolbar progressbar trough,
headerbar progressbar trough {
  background-color: rgba(5, 5, 6, 0.4);
}

.primary-toolbar progressbar:backdrop,
headerbar progressbar:backdrop {
  opacity: 0.75;
}

.primary-toolbar scale:backdrop,
headerbar scale:backdrop {
  opacity: 0.75;
}

.primary-toolbar scale slider,
headerbar scale slider {
  background-color: #3a3a41;
  border-color: rgba(5, 5, 6, 0.7);
}

.primary-toolbar scale slider:hover,
headerbar scale slider:hover {
  background-color: #46464e;
  border-color: rgba(5, 5, 6, 0.7);
}

.primary-toolbar scale slider:active,
headerbar scale slider:active {
  background-color: #0c75de;
  border-color: #0c75de;
}

.primary-toolbar scale slider:disabled,
headerbar scale slider:disabled {
  background-color: #333339;
  border-color: rgba(5, 5, 6, 0.7);
}

.primary-toolbar scale trough,
headerbar scale trough {
  background-color: rgba(5, 5, 6, 0.4);
}

.primary-toolbar scale trough:disabled,
headerbar scale trough:disabled {
  background-color: rgba(5, 5, 6, 0.3);
}

.path-bar button.text-button,
.path-bar button.image-button,
.path-bar headerbar button.titlebutton,
headerbar .path-bar button.titlebutton,
.path-bar .titlebar button.titlebutton,
.titlebar .path-bar button.titlebutton,
.path-bar button {
  padding-left: 6px;
  padding-right: 6px;
}

.path-bar button.text-button.image-button label,
.path-bar headerbar button.text-button.titlebutton label,
headerbar .path-bar button.text-button.titlebutton label,
.path-bar .titlebar button.text-button.titlebutton label,
.titlebar .path-bar button.text-button.titlebutton label {
  padding-left: 0;
  padding-right: 0;
}

.path-bar button.text-button.image-button label:last-child,
.path-bar button label:last-child {
  padding-right: 10px;
}

.path-bar button.text-button.image-button label:first-child,
.path-bar button label:first-child {
  padding-left: 10px;
}

.path-bar button.slider-button,
.path-bar button:not(.image-button):not(.text-button) {
  padding-left: 1px;
  padding-right: 1px;
}

.path-bar button image {
  padding-left: 4px;
  padding-right: 4px;
}
