/**
 * Info Bars and Notification Bars
 */

paned > separator.wide {
  min-width: 5px;
  min-height: 5px;
  background-color: transparent;
}

paned.horizontal > separator {
  background-repeat: repeat-y;
  margin: 0 -3px 0 -3px;
  padding: 0 3px 0 3px;
  background-position: center;
}
paned.horizontal > separator.wide {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -gtk-scaled(
    url("assets/pane-separator-vertical.png"),
    url("assets/pane-separator-vertical@2.png")
  );
  background-size: 2px 24px;
}

paned.vertical > separator {
  margin: -3px 0 -3px 0;
  padding: 3px 0 3px 0;
  background-repeat: repeat-x;
  background-position: center;
}
paned.vertical > separator.wide {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -gtk-scaled(
    url("assets/pane-separator.png"),
    url("assets/pane-separator@2.png")
  );
  background-size: 24px 2px;
}

infobar {
  border-style: none;
}
infobar.info > revealer > box,
infobar.question > revealer > box,
infobar.warning > revealer > box,
infobar.error > revealer > box {
  background-color: #0c75de;
  color: #ffffff;
  caret-color: currentColor;
}
infobar.info selection,
infobar.question selection,
infobar.warning selection,
infobar.error selection {
  color: #0c75de;
  background-color: #ffffff;
}
infobar.info:disabled label,
infobar.info:disabled image,
infobar.question:disabled label,
infobar.question:disabled image,
infobar.warning:disabled label,
infobar.warning:disabled image,
infobar.error:disabled label,
infobar.error:disabled image {
  color: rgba(255, 255, 255, 0.5);
}
infobar.warning > revealer > box {
  background-color: #f27835;
}
infobar.error > revealer > box {
  background-color: #f04a50;
}
infobar.question > revealer > box {
  background-color: #55c1ec;
}

.primary-toolbar toolbar.selection-mode button:hover,
.selection-mode.primary-toolbar button:hover,
.primary-toolbar .selection-mode.inline-toolbar button:hover,
headerbar.selection-mode button:hover,
row:selected button,
infobar.info button,
infobar.question button,
infobar.warning button,
infobar.error button {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.5);
}

row:selected button.flat,
infobar.info button.flat,
infobar.question button.flat,
infobar.warning button.flat,
infobar.error button.flat {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
.primary-toolbar toolbar.selection-mode button:disabled,
.selection-mode.primary-toolbar button:disabled,
.primary-toolbar .selection-mode.inline-toolbar button:disabled,
headerbar.selection-mode button:disabled,
.primary-toolbar toolbar.selection-mode button:disabled label,
.selection-mode.primary-toolbar button:disabled label,
.primary-toolbar .selection-mode.inline-toolbar button:disabled label,
headerbar.selection-mode button:disabled label,
row:selected button.flat:disabled,
infobar.info button.flat:disabled,
infobar.question button.flat:disabled,
infobar.warning button.flat:disabled,
infobar.error button.flat:disabled,
row:selected button.flat:disabled label,
infobar.info button.flat:disabled label,
infobar.question button.flat:disabled label,
infobar.warning button.flat:disabled label,
infobar.error button.flat:disabled label {
  color: rgba(255, 255, 255, 0.4);
}

row:selected button:hover,
infobar.info button:hover,
infobar.question button:hover,
infobar.warning button:hover,
infobar.error button:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
}

.primary-toolbar toolbar.selection-mode button:active,
.selection-mode.primary-toolbar button:active,
.primary-toolbar .selection-mode.inline-toolbar button:active,
headerbar.selection-mode button:active,
.primary-toolbar toolbar.selection-mode button:checked,
.selection-mode.primary-toolbar button:checked,
.primary-toolbar .selection-mode.inline-toolbar button:checked,
headerbar.selection-mode button:checked,
row:selected button:active,
infobar.info button:active,
infobar.question button:active,
infobar.warning button:active,
infobar.error button:active,
row:selected button:checked,
infobar.info button:checked,
infobar.question button:checked,
infobar.warning button:checked,
infobar.error button:checked {
  color: #0c75de;
  background-color: #ffffff;
  border-color: #ffffff;
}

row:selected button:disabled,
infobar.info button:disabled,
infobar.question button:disabled,
infobar.warning button:disabled,
infobar.error button:disabled {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.4);
}
row:selected button:disabled,
infobar.info button:disabled,
infobar.question button:disabled,
infobar.warning button:disabled,
infobar.error button:disabled,
row:selected button:disabled label,
infobar.info button:disabled label,
infobar.question button:disabled label,
infobar.warning button:disabled label,
infobar.error button:disabled label {
  color: rgba(255, 255, 255, 0.5);
}
.primary-toolbar toolbar.selection-mode button:disabled:checked,
.selection-mode.primary-toolbar button:disabled:checked,
.primary-toolbar .selection-mode.inline-toolbar button:disabled:checked,
headerbar.selection-mode button:disabled:checked,
.primary-toolbar toolbar.selection-mode button:disabled:active,
.selection-mode.primary-toolbar button:disabled:active,
.primary-toolbar .selection-mode.inline-toolbar button:disabled:active,
headerbar.selection-mode button:disabled:active,
row:selected button:disabled:active,
infobar.info button:disabled:active,
infobar.question button:disabled:active,
infobar.warning button:disabled:active,
infobar.error button:disabled:active,
row:selected button:disabled:checked,
infobar.info button:disabled:checked,
infobar.question button:disabled:checked,
infobar.warning button:disabled:checked,
infobar.error button:disabled:checked {
  color: #0c75de;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.4);
}
