/**
 * LightDM Login Manager Styles
 */

/* Based on _Adwaita-base.scss from libhandy */
popover.combo {
  padding: 0; }
  popover.combo list {
    background-color: transparent; }
    popover.combo list > row {
      padding: 0 10px;
      min-height: 50px; }

row.expander {
  padding: 0px; }
  row.expander:checked image.expander-row-arrow:not(:disabled) {
    color: #0c75de; }
  row.expander image.expander-row-arrow:disabled {
    color: rgba(255, 255, 255, 0.42); }

keypad .digit {
  font-size: 200%;
  font-weight: bold; }

keypad .letters {
  font-size: 70%; }

keypad .symbol {
  font-size: 160%; }

viewswitcher, viewswitcher button {
  margin: 0;
  padding: 0; }

viewswitcher button {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0; }
  viewswitcher button:not(:checked):not(:hover) {
    background: transparent;
    border-color: transparent; }
  viewswitcher button:checked, viewswitcher button:active {
    border-color: #0c75de; }
  viewswitcher button > stack > box.narrow {
    font-size: 0.75rem;
    padding-top: 7px;
    padding-bottom: 5px; }
    viewswitcher button > stack > box.narrow image,
    viewswitcher button > stack > box.narrow label {
      padding-left: 8px;
      padding-right: 8px; }
  viewswitcher button > stack > box.wide {
    padding: 8px 10px; }
    viewswitcher button > stack > box.wide label:dir(ltr) {
      padding-right: 7px; }
    viewswitcher button > stack > box.wide label:dir(rtl) {
      padding-left: 7px; }
  viewswitcher button.needs-attention > stack > box label {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#0c75de), to(transparent));
    background-size: 6px 6px;
    background-repeat: no-repeat;
    background-position: right 0px; }
    viewswitcher button.needs-attention > stack > box label:dir(rtl) {
      background-position: left 0px; }
  viewswitcher button.needs-attention:active > stack > box label {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#FFFFFF), to(transparent)); }

viewswitcherbar actionbar > revealer > box {
  padding: 0; }

list.content,
list.content list {
  background-color: transparent; }

list.content list.nested > row:not(:active):not(:hover):not(:selected), list.content list.nested > row:not(:active):hover:not(.activatable):not(:selected) {
  background-color: #2e2e33; }

list.content list.nested > row:not(:active):hover.activatable:not(:selected) {
  background-color: #343439; }

list.content > row:not(.expander):not(:active):not(:hover):not(:selected), list.content > row:not(.expander):not(:active):hover:not(.activatable):not(:selected), list.content > row.expander row.header:not(:active):not(:hover):not(:selected), list.content > row.expander row.header:not(:active):hover:not(.activatable):not(:selected) {
  background-color: #2E2E33; }

list.content > row:not(.expander):not(:active):hover.activatable:not(:selected), list.content > row.expander row.header:not(:active):hover.activatable:not(:selected) {
  background-color: #343439; }

list.content > row,
list.content > row list > row {
  border-color: #202023;
  border-style: solid;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

list.content > row:not(:last-child) {
  border-width: 1px 1px 0px 1px; }

list.content > row:last-child, list.content > row.checked-expander-row-previous-sibling, list.content > row.expander:checked {
  border-width: 1px; }

list.content > row.expander:checked:not(:first-child), list.content > row.expander:checked + row {
  margin-top: 5px; }

window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized),
window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) > decoration,
window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) > decoration-overlay {
  border-radius: 8px; }

.windowhandle separator.sidebar:dir(ltr), .windowhandle separator.sidebar.left, .windowhandle separator.sidebar.left:dir(rtl), .windowhandle separator.sidebar:dir(rtl), .windowhandle separator.sidebar.right {
  background-color: #18181b;
  margin: 0; }

hdyleaflet:last-child headerbar {
  border-top-right-radius: 8px; }

hdyleaflet:first-child headerbar {
  border-top-left-radius: 8px; }
