/**
 * Lists and Rows
 */


list {
  background-color: #2E2E33;
  border-color: #202023; }
  list row {
    padding: 2px; }

row:not(:hover) {
  transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row.activatable.has-open-popup, row.activatable:hover {
  background-color: rgba(255, 255, 255, 0.05); }

row.activatable:active {
  color: rgba(255, 255, 255, 0.87); }

row.activatable:disabled {
  color: rgba(255, 255, 255, 0.42); }
  row.activatable:disabled image {
    color: inherit; }

row.activatable:selected:active {
  color: #FFFFFF; }

row.activatable:selected.has-open-popup, row.activatable:selected:hover {
  background-color: #0b69c8; }

.app-notification {
  padding: 10px;
  color: #DBDBDB;
  background-color: #353535;
  background-clip: border-box;
  border-radius: 0 0 10px 10px;
  border-width: 0 1px 1px 1px;
