/**
 * On-Screen Display (OSD) Styles
 */

.osd .scale-popup,
popover.osd,
popover.magnifier,
.csd popover.osd,
.csd popover.magnifier,
popover.background.osd,
popover.background.magnifier,
.csd popover.background.osd,
.csd popover.background.magnifier,
.osd {
  color: #dbdbdb;
  border: none;
  background-color: #353535;
  background-clip: padding-box;
  box-shadow: none;
}
