/**
 * Desktop Panels (MATE, XFCE, etc.)
 */
.panel {
  background-color: #568f34;
  border-color: #568f34;
  border-radius: 12px;
}

#greeter_infobar {
  border-bottom-width: 0;
  font-weight: bold;
}

window.background.lightdm menubar > menuitem {
  padding: 0 5px 0 5px;
}

window.background.lightdm button.flat.option-button {
  background-color: transparent;
  color: #dadada;
}
window.background.lightdm button.flat.option-button:hover {
  border-color: rgba(32, 32, 35, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}
window.background.lightdm button.flat.option-button:active {
  border-color: #202023;
  background-color: #0c75de;
  color: #ffffff;
}

window.background.lightdm button,
window.background.lightdm button.toggle-button {
  border-color: transparent;
  background-color: transparent;
  color: #dadada;
}
window.background.lightdm button:hover,
window.background.lightdm button.toggle-button:hover {
  border-color: rgba(32, 32, 35, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}
window.background.lightdm button:active,
window.background.lightdm button.selected,
window.background.lightdm button.toggle-button:active,
window.background.lightdm button.toggle-button.selected {
  border-color: rgba(32, 32, 35, 0.2);
  background-color: #0c75de;
  color: #ffffff;
}

window.background.lightdm entry {
  background-image: none;
  border-image: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 7px;
  color: white;
  text-shadow: none;
  caret-color: white;
}
window.background.lightdm entry:focus {
  border-color: rgba(255, 255, 255, 0.9);
  border-width: 1px;
  border-style: solid;
  color: white;
}
window.background.lightdm entry:selected {
  background-color: rgba(255, 255, 255, 0.2);
}
window.background.lightdm entry:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: dashentry_spinner 1s infinite linear;
}
window.background.lightdm entry image {
  color: white;
}

window.background.lightdm .lightdm-combo {
  border-radius: 0;
  background-color: transparent;
}

@define-color accent_color #0c75de;
@define-color theme_fg_color rgba(255, 255, 255, 0.87);
@define-color theme_text_color #DADADA;
@define-color theme_bg_color #2e2e33;
@define-color theme_base_color #2E2E33;
@define-color theme_selected_bg_color #0c75de;
@define-color theme_selected_fg_color #FFFFFF;
@define-color fg_color rgba(255, 255, 255, 0.87);
@define-color text_color #DADADA;
@define-color bg_color #2e2e33;
@define-color base_color #2E2E33;
@define-color selected_bg_color #0c75de;
@define-color selected_fg_color #FFFFFF;
@define-color insensitive_bg_color #333339;
@define-color insensitive_fg_color alpha(white, 0.5);
@define-color insensitive_base_color #2E2E33;
@define-color theme_unfocused_fg_color rgba(255, 255, 255, 0.87);
@define-color theme_unfocused_text_color #DADADA;
@define-color theme_unfocused_bg_color #2e2e33;
@define-color theme_unfocused_base_color #2E2E33;
@define-color borders #202023;
@define-color unfocused_borders #202023;
@define-color warning_color #F27835;
@define-color error_color #FC4138;
@define-color success_color #73D216;
@define-color placeholder_text_color #A8A8A8;
@define-color content_view_bg #2E2E33;
@define-color wm_title rgba(255, 255, 255, 0.87);
@define-color wm_title_unfocused #A7A7AB;
@define-color wm_bg #222226;
@define-color wm_bg_unfocused #26262a;
@define-color wm_highlight #373737;
@define-color wm_border #18181b;
@define-color wm_border_unfocused #242429;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_button_close_bg #0c75de;
@define-color wm_button_close_hover_bg #3d99f5;
@define-color wm_button_close_active_bg #07427d;
@define-color wm_icon_close_bg #F8F8F8;
@define-color wm_button_hover_bg #4C4C50;
@define-color wm_button_active_bg #949498;
@define-color wm_icon_bg #909090;
@define-color wm_icon_unfocused_bg #555559;
@define-color wm_icon_hover_bg #C4C7CC;
@define-color wm_icon_active_bg #FFFFFF;
