/**
 * Popovers and Popups
 */

popover.background {
  padding: 2px;
  border-radius: 12px;
  background-clip: border-box;
  background-color: #2e2e33;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.35);
}
.csd popover,
popover,
.csd popover.background,
popover.background {
  border: 1px solid #141416;
}
popover separator,
popover.background separator {
  background-color: #2e2e33;
}
popover label.separator,
popover.background label.separator {
  color: rgba(255, 255, 255, 0.87);
}
popover > list,
popover > .view,
popover > iconview,
popover > toolbar,
popover > .inline-toolbar,
popover.background > list,
popover.background > .view,
popover.background > iconview,
popover.background > toolbar,
popover.background > .inline-toolbar {
  border-style: none;
  background-color: transparent;
}

cursor-handle {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-style: none;
}
cursor-handle.top {
  -gtk-icon-source: -gtk-icontheme("selection-start-symbolic");
}
cursor-handle.bottom {
  -gtk-icon-source: -gtk-icontheme("selection-end-symbolic");
}
