/**
 * Progress Bars and Level Bars
 */

.osd .trough {
  background-color: #f4f4f4;
}

levelbar block {
  min-width: 32px;
  min-height: 1px;
}

levelbar.vertical block {
  min-width: 1px;
  min-height: 32px;
}

levelbar trough {
  border: none;
  padding: 3px;
  border-radius: 10px;
  background-color: #222226;
}

levelbar.horizontal.discrete block {
  margin: 0 1px;
}

levelbar.vertical.discrete block {
  margin: 1px 0;
}

levelbar block:not(.empty) {
  border: 1px solid #0c75de;
  background-color: #0c75de;
  border-radius: 8px;
}

levelbar block.low {
  border-color: #f27835;
  background-color: #f27835;
}

levelbar block.high {
  border-color: #0c75de;
  background-color: #0c75de;
}

levelbar block.full {
  border-color: #73d216;
  background-color: #73d216;
}

levelbar block.empty {
  background-color: #2e2e33;
  border-color: #2e2e33;
}
