/**
 * Selection Styles
 */

rubberband,
.content-view rubberband,
treeview.view rubberband,
flowbox rubberband,
.rubberband,
GtkTreeView.view.rubberband,
.content-view.rubberband,
NemoWindow .view.rubberband,
NemoWindow .rubberband {
  border: 1px solid #095cae;
  background: rgba(9, 92, 174, 0.2);
}

flowbox flowboxchild {
  padding: 3px;
  border-radius: 2px;
}
flowbox flowboxchild:selected {
  outline-offset: -2px;
}

label.separator {
  color: #ffffff;
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#0c75de),
    to(transparent)
  );
}
headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop {
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#616166),
    to(transparent)
  );
}
headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#1182f2),
    to(transparent)
  );
}
headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active {
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#0b68c6),
    to(transparent)
  );
}
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
  color: #616166;
}
headerbar button.titlebutton.maximize:hover,
headerbar button.titlebutton.maximize:hover:backdrop,
headerbar button.titlebutton.minimize:hover,
headerbar button.titlebutton.minimize:hover:backdrop,
.titlebar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover:backdrop,
.titlebar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover:backdrop {
  color: rgba(255, 255, 255, 0.87);
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#4c4c50),
    to(transparent)
  );
}
headerbar button.titlebutton.maximize:active,
headerbar button.titlebutton.maximize:active:backdrop,
headerbar button.titlebutton.minimize:active,
headerbar button.titlebutton.minimize:active:backdrop,
.titlebar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active:backdrop,
.titlebar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active:backdrop {
  background-image: -gtk-gradient(
    radial,
    center center,
    0,
    center center,
    0.5,
    to(#949498),
    to(transparent)
  );
}

.caja-navigation-window .view .cell:selected,
.caja-navigation-window iconview .cell:selected,
.caja-navigation-window .view .cell:selected:focus,
.nemo-window .nemo-inactive-pane .view:selected:focus,
.nemo-window .nemo-inactive-pane iconview:selected:focus,
.nemo-window .nemo-inactive-pane .view:selected,
.nemo-window .nemo-inactive-pane iconview:selected,
.nemo-window .nemo-window-pane widget.entry:selected:focus,
.nemo-window .nemo-window-pane widget.entry:selected,
.nautilus-window
  placessidebar.sidebar
  list
  row.sidebar-row.has-open-popup:selected,
.nautilus-window placessidebar.sidebar list row.sidebar-row:selected,
.nautilus-window placessidebar.sidebar list row.sidebar-row:selected:hover,
.nautilus-window placessidebar.sidebar list row.sidebar-row:active:hover,
filechooser placessidebar.sidebar list row.sidebar-row.has-open-popup:selected,
filechooser placessidebar.sidebar list row.sidebar-row:selected,
filechooser placessidebar.sidebar list row.sidebar-row:selected:hover,
filechooser placessidebar.sidebar list row.sidebar-row:active:hover,
.view:selected,
.view:selected:focus,
.view text:selected,
textview text:selected,
.view text:selected:focus,
textview text:selected:focus,
.view text selection:focus,
.view text selection,
textview text selection:focus,
textview text selection,
iconview:selected,
iconview:selected:focus,
iconview text selection:focus,
iconview text selection,
flowbox flowboxchild:selected,
entry selection:focus,
entry selection,
treeview.view:selected,
treeview.view:selected:focus,
row:selected {
  background-color: #0c75de;
}
