/**
 * Switches - Toggle switches
 */

switch {
  font-size: 1px;
  min-width: 52px;
  min-height: 24px;
  background-size: 52px 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
switch slider {
  min-width: 1px;
  min-height: 1px;
}
switch,
switch slider {
  outline-color: transparent;
  color: transparent;
  border: none;
  box-shadow: none;
}

switch {
  background-image: -gtk-scaled(
    url("assets/switch-dark.png"),
    url("assets/switch-dark@2.png")
  );
}

menuitem:hover switch,
row:selected switch,
infobar switch {
  background-image: -gtk-scaled(
    url("assets/switch-selected.png"),
    url("assets/switch-selected@2.png")
  );
}

headerbar switch,
.primary-toolbar switch,
.primary-toolbar toolbar switch {
  background-image: -gtk-scaled(
    url("assets/switch-header-dark.png"),
    url("assets/switch-header-dark@2.png")
  );
}

switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-dark.png"),
    url("assets/switch-active-dark@2.png")
  );
}

menuitem:hover switch:checked,
row:selected switch:checked,
infobar switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-selected.png"),
    url("assets/switch-active-selected@2.png")
  );
}

headerbar switch:checked,
.primary-toolbar switch:checked,
.primary-toolbar toolbar switch:checked {
  background-image: -gtk-scaled(
    url("assets/switch-active-header-dark.png"),
    url("assets/switch-active-header-dark@2.png")
  );
}

switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-dark.png"),
    url("assets/switch-insensitive-dark@2.png")
  );
}

menuitem:hover switch:disabled,
row:selected switch:disabled,
infobar switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-selected.png"),
    url("assets/switch-insensitive-selected@2.png")
  );
}

headerbar switch:disabled,
.primary-toolbar switch:disabled,
.primary-toolbar toolbar switch:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-insensitive-header-dark.png"),
    url("assets/switch-insensitive-header-dark@2.png")
  );
}

switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-dark.png"),
    url("assets/switch-active-insensitive-dark@2.png")
  );
}

menuitem:hover switch:checked:disabled,
row:selected switch:checked:disabled,
infobar switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-selected.png"),
    url("assets/switch-active-insensitive-selected@2.png")
  );
}

headerbar switch:checked:disabled,
.primary-toolbar switch:checked:disabled,
.primary-toolbar toolbar switch:checked:disabled {
  background-image: -gtk-scaled(
    url("assets/switch-active-insensitive-header-dark.png"),
    url("assets/switch-active-insensitive-header-dark@2.png")
  );
}
