/**
 * Toolbars and Action Bars
 */

spinbutton.vertical button.up {
  border-radius: 10px 10px 0 0;
}
spinbutton.vertical > entry:focus + button {
  border-top-color: #202023;
}
spinbutton.vertical > entry:drop(active) + button {
  border-top-color: #0c75de;
}

combobox button.combo {
  padding-top: 3px;
  padding-bottom: 3px;
}

combobox arrow {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 16px;
  min-width: 16px;
}

toolbar,
.inline-toolbar {
  -gtkwidget-window-dragging: true;
  padding: 4px;
  background-color: #2e2e33;
}
toolbar separator,
.inline-toolbar separator {
  background: none;
}
toolbar.horizontal separator,
.horizontal.inline-toolbar separator {
  margin: 0 6px;
}
toolbar.vertical separator,
.vertical.inline-toolbar separator {
  margin: 6px 0;
}
.osd toolbar,
.osd .inline-toolbar {
  background-color: transparent;
}
toolbar.osd,
.osd.inline-toolbar {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(53, 53, 53, 0.9);
}
toolbar.osd.left,
.osd.left.inline-toolbar,
toolbar.osd.right,
.osd.right.inline-toolbar,
toolbar.osd.top,
.osd.top.inline-toolbar,
toolbar.osd.bottom,
.osd.bottom.inline-toolbar {
  border-radius: 0;
}
toolbar.osd.top,
.osd.top.inline-toolbar {
  border-width: 0 0 1px 0;
}
toolbar.osd.bottom,
.osd.bottom.inline-toolbar {
  border-width: 1px 0 0 0;
}
toolbar.osd.left,
.osd.left.inline-toolbar {
  border-width: 0 1px 0 0;
}
toolbar.osd.right,
.osd.right.inline-toolbar {
  border-width: 0 0 0 1px;
}
toolbar:not(.inline-toolbar) switch,
.inline-toolbar:not(.inline-toolbar) switch,
toolbar:not(.inline-toolbar) scale,
.inline-toolbar:not(.inline-toolbar) scale,
toolbar:not(.inline-toolbar) entry,
.inline-toolbar:not(.inline-toolbar) entry,
toolbar:not(.inline-toolbar) spinbutton,
.inline-toolbar:not(.inline-toolbar) spinbutton,
toolbar:not(.inline-toolbar) button,
.inline-toolbar:not(.inline-toolbar) button {
  margin-right: 1px;
  margin-bottom: 1px;
}
toolbar:not(.inline-toolbar) .linked > button,
.inline-toolbar:not(.inline-toolbar) .linked > button,
toolbar:not(.inline-toolbar) .linked > entry,
.inline-toolbar:not(.inline-toolbar) .linked > entry {
  margin-right: 0;
}

.primary-toolbar toolbar,
.primary-toolbar .inline-toolbar,
.primary-toolbar:not(.libreoffice-toolbar) {
  color: rgba(255, 255, 255, 0.87);
  background-color: #222226;
  box-shadow: none;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #222226, #050506) 1 0 1 0;
}

.inline-toolbar {
  background-color: #27272b;
  border-style: solid;
  border-color: #202023;
  border-width: 0 1px 1px;
  padding: 3px;
  border-radius: 0 0 10px 10px;
}

searchbar {
  background-color: #2e2e33;
  border-style: solid;
  border-color: #202023;
  border-width: 0 0 1px;
  padding: 3px;
}

actionbar {
  padding: 6px;
  border-top: 1px solid #202023;
  background-color: #27272b;
}
