/**
 * Tree Views
 */

* {
  -gtktreeview-horizontal-separator: 4;
  -gtktreeview-grid-line-width: 1;
  -gtktreeview-grid-line-pattern: "";
  -gtktreeview-tree-line-width: 1;
  -gtktreeview-tree-line-pattern: "";
  -gtktreeview-expander-size: 16;
}
treeview.view acceleditor > label {
  background-color: #0c75de;
}
treeview.view:selected,
treeview.view:selected:focus {
  border-radius: 0;
  border-left-color: #86baef;
  border-top-color: rgba(255, 255, 255, 0);
}
treeview.view:disabled {
  color: rgba(255, 255, 255, 0.42);
}
treeview.view:disabled:selected {
  color: #6daceb;
}
treeview.view.separator {
  min-height: 2px;
  color: rgba(0, 0, 0, 0.1);
}
treeview.view:drop(active) {
  border-style: solid none;
  border-width: 1px;
  border-color: rgba(118, 177, 236, 0.935);
}
treeview.view:drop(active).after {
  border-top-style: none;
}
treeview.view:drop(active).before {
  border-bottom-style: none;
}
treeview.view.expander {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  color: rgba(137, 137, 140, 0.935);
}
treeview.view.expander:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
treeview.view.expander:hover {
  color: rgba(255, 255, 255, 0.87);
}
treeview.view.expander:selected {
  color: #b6d6f5;
}
treeview.view.expander:selected:hover {
  color: #ffffff;
}
treeview.view.expander:checked {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
treeview.view.progressbar,
treeview.view.progressbar:focus {
  color: #ffffff;
  border-radius: 2px;
  background-color: #0c75de;
}
treeview.view.progressbar:selected,
treeview.view.progressbar:selected:focus,
treeview.view.progressbar:focus:selected,
treeview.view.progressbar:focus:selected:focus {
  color: #0c75de;
  box-shadow: none;
  background-color: #ffffff;
}
treeview.view.trough {
  color: rgba(255, 255, 255, 0.87);
  background-color: #222226;
  border-radius: 2px;
  border: 1px solid #202023;
}
treeview.view.trough:selected,
treeview.view.trough:selected:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border-width: 0;
}
treeview.view header button {
  padding: 3px 6px;
  font-weight: bold;
  color: rgba(204, 204, 205, 0.896);
  background-color: #2c2c31;
  background-image: none;
  border-style: none solid solid none;
  border-radius: 0;
  border-color: #202023;
}
treeview.view header button:active,
treeview.view header button:hover {
  background-color: #333339;
}
treeview.view header button:active:hover {
  color: rgba(255, 255, 255, 0.87);
}
treeview.view header button:disabled {
  border-color: #2e2e33;
  background-image: none;
}
treeview.view header button:last-child {
  border-right-style: none;
}
treeview.view button.dnd,
treeview.view button.dnd:selected,
treeview.view button.dnd:hover,
treeview.view button.dnd:active,
treeview.view header.button.dnd,
treeview.view header.button.dnd:selected,
treeview.view header.button.dnd:hover,
treeview.view header.button.dnd:active {
  transition: none;
  color: #0c75de;
  box-shadow: inset 1px 1px 0 1px #0c75de, inset -1px 0 0 1px #0c75de,
    inset 1px 1px #2e2e33, inset -1px 0 #2e2e33;
}

menubar,
.menubar {
  -gtkwidget-window-dragging: true;
  padding: 0px;
  background-color: #222226;
  color: rgba(255, 255, 255, 0.87);
}
menubar:backdrop,
.menubar:backdrop {
  color: rgba(255, 255, 255, 0.57);
}
menubar > menuitem,
.menubar > menuitem {
  padding: 6px 8px;
  border: solid transparent;
  border-width: 0;
}
menubar > menuitem:hover,
.menubar > menuitem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.87);
}
menubar > menuitem:disabled,
.menubar > menuitem:disabled {
  color: rgba(255, 255, 255, 0.27);
  border-color: transparent;
}
menubar > menuitem > label:disabled,
.menubar > menuitem > label:disabled {
  color: rgba(255, 255, 255, 0.42);
}
