/**
 * Views and Text - Styles for textview, iconview, and view containers
 */

.view:selected,
iconview:selected,
.view:selected:focus,
iconview:selected:focus,
.view text:selected,
iconview text:selected,
textview text:selected,
.view text:selected:focus,
iconview text:selected:focus,
textview text:selected:focus {
  border-radius: 2px;
}

textview border {
  background-color: #2e2e33;
}

textview {
  background-color: #2e2e33;
  color: #dadada;
}

.content-view {
  background-color: #2e2e33;
}
.content-view:hover {
  -gtk-icon-effect: highlight;
}

.view.content-view.check:not(.list),
iconview.content-view.check:not(.list) {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-selectionmode-dark.png"),
    url("assets/checkbox-selectionmode-dark@2.png")
  );
  background-color: transparent;
}

.view.content-view.check:checked:not(.list),
iconview.content-view.check:checked:not(.list) {
  -gtk-icon-source: -gtk-scaled(
    url("assets/checkbox-checked-selectionmode-dark.png"),
    url("assets/checkbox-checked-selectionmode-dark@2.png")
  );
  background-color: transparent;
}
